* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
  /* max-width: 215rem; */
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  width: 100px;
  margin-top: 25px;
  margin-left: 80px;
  /* margin: 20px 20px; */
}
.logo img {
  width: 80px;
  margin: 5px 5px;
}
.list {
  display: flex;
  align-items: center;
  width: 350px;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: -370px;
  /* border: 2px solid greenyellow; */
}
.list li {
  list-style: none;
  /* color: #cad5e2; */
}
.list li a {
  display: block;
  color: rgb(139, 119, 119);
  text-decoration: none;
  font-size: 12px;
}
.list .list-item span{
    color: rgb(0, 0, 0);
    
} 
.list li a:hover {
  color: #ff3ea5ff;
  background-color: #f4df4eff;
  cursor: pointer;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
}
.btn {
  display: flex;
  margin-top: 25px;
  margin-right: 40px;
}
.btn button {
  display: flex;
  width: 90px;
  justify-content: center;
  border-radius: 3px;
  padding: 5px 3px;
  font-size: 10px;
  font-weight: 500;
  font-size: 10px;
  color: white;
  background-color: rgb(12, 12, 73);
}
.btn button:hover {
  color: rgb(8, 8, 68);
  background-color: aliceblue;
  cursor: pointer;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
  border-radius: 16px;
  padding: 0px 0px;
}
.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  /* border: 2px solid red; */
  height: 90vh;
}
.showcase img {
  display: flex;
  margin-right: -260px;
  width: 640px;
  align-items: flex-end;
}
.banner-container .heading-text{
  /* border: 2px solid gray; */
  margin-left: -250px;
  width: 300px;
  justify-content: left;
  font-family:"Poppins";
  line-height: 44px;
  font-size: 40px;
}
.banner-container .heading-text span{
  color: rgb(43, 43, 105);
}
.banner-container .description{
  /* border: 2px solid palevioletred; */
  width: 220px;
  font-size: 8px;
  line-height: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -250px;
}
.btn-2{
  display: flex;
  width: 110px;
  margin-left: -250px;
/* border: 2PX solid yellow; */
}
.btn-2 button{
  padding: 8px 14px;
  color: white;
  font-size: 9px;
  border-radius: 5px;
  background-color: rgb(12, 12, 73);
  border: 2px solid rgb(12, 12, 73);
}
.btn-2 button:hover{
  color: rgb(8, 8, 68);
  background-color: aliceblue;
  cursor: pointer;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
  border-radius: 16px;
}